<div data-ng-include="'views/partials/user_warnings.html'"></div>
<div id="UserWelcomeMessage">
  <div class="title" data-translate>Welcome!</div>
  <br />
  <ul>
    <li>
      <span data-translate>For the user documentation, download here:</span> <a href="https://github.com/inno-bit-lab/WhistleblowingEasy/raw/main/documentation/user/Whistleblowing-Ricevente.docx" rel="noreferrer" target="_blank">File Word</a>
    </li>
    <li>
      <span data-translate>If you need technical support or have general questions, write to us here:</span> <a href="mailto:wbe.support@innobitlab.it" rel="noreferrer" target="_blank">wbe.support@innobitlab.it</a>
    </li>
    <li>
      <span data-translate>For a detailed overview, click here and watch the video guide:</span> <a href="https://github.com/inno-bit-lab/WhistleblowingEasy/raw/main/documentation/user/Guida-Whistleblowingeasy-Recipient.mp4" rel="noreferrer" target="_blank">Video Guide</a>
    </li>
  </ul>
</div>
